<template id="row-template">
    <div class="row g-2 mb-2 align-items-center component-row animate-fade-in">
        <div class="col-md-10">
            <select name="SelectedComponents[{index}].ComponentId" class="form-select shadow-sm" required>
                <option value="">-- Избери продукт от списъка --</option>
                @foreach (var comp in Model.AvailableComponents)
                {
                    <option value="@comp.Value">@comp.Text</option>
                }
            </select>
        </div>
        <div class="col-md-2 text-end">
            <button type="button" class="btn btn-outline-danger btn-sm border-0 remove-row-btn">
                ✕ Премахни
            </button>
        </div>
    </div>
</template>