@using Microsoft.AspNetCore.Identity
@using RecipeShareData.Entities
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav align-items-lg-center gap-lg-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link user-greeting">
                Здравей, @User.Identity?.Name!
            </span>
        </li>
        <li class="nav-item">
            <form asp-controller="Users" asp-action="Logout" method="post" class="m-0">
                <button type="submit" class="btn btn-outline-light">
                    Изход
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-light me-2" asp-controller="Users" asp-action="Login">
                Вход
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-warning" asp-controller="Users" asp-action="Register">
                Регистрация
            </a>
        </li>
    }
</ul>